* {
  box-sizing: border-box;
}


.login-container {
  margin: 25px auto;
  width: 960px;
}



.msg-container {
  margin: 25px auto;
  border: 1px solid #000;
  padding: 15px;
  width: 960px;
  height: 400px;
  overflow: scroll;
}

.hidden {
  display: none;
}

.msg-list {
  margin-left: 0;
  padding-left: 0;
}

.msg-holder {
  border-bottom: 1px solid #dfdfdf;
  min-height: 50px;
  list-style: none;

  ul {
    padding-left: 15px;

    li {
      list-style: none;
    }
  }
}

.name {
  display: inline-block;
  width: 150px;
}

.msg {
  display: inline-block;
  width: 500px;
}

.date {
  display: inline-block;
  width: 200px;
}

.msg-input-container {
  margin: 0 auto;
  padding: 15px;
  width: 960px;
  height: 150px;
}

.username-title {
  display: inline-block;
  vertical-align: top;
}

.username-filler {
  display: inline-block;
}

.msg-input {
  display: inline-block;
}

#msg-textbox {
  width: 400px;
}
